/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 80px; /* Высота шапки + небольшой отступ */
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;	
}

button:hover {
    background-color: #0056b3;
	
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}




table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

/* Стили для кнопок в группе */
.button-group {
    display: flex; /* Располагаем кнопки в горизонтальном порядке */	
    padding: 1px 1px;
}

.action-button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545; /* Используем красный цвет для кнопки "Удалить" */
}


/* Стили для кнопки "Домой" */
#homeButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: left; /* Чтобы кнопка была выровнена слева */
    margin-right: 20px; /* Для создания отступа между кнопкой и заголовком */
}

#homeButton:hover {
    background-color: #0056b3;
}

div {
    padding-top: 160px; /* Добавляем отступ сверху для кнопки "Добавить новую авиакомпанию" */
}