/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

/* Добавляем класс для вашего div */
.content-wrapper {
    padding-top: 160px; /* Добавляем отступ сверху для кнопки "Добавить новую авиакомпанию" */
}

/* Убираем старое свойство padding-top у всех div */
div {
    padding-top: 0; /* Убираем отступ сверху для всех div */
}

form {
    margin-top: 20px; /* Добавляем отступ сверху формы */
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;	
}

button:hover {
    background-color: #0056b3;
}

/* Стили для кнопки "Домой" */
#homeButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: left; /* Чтобы кнопка была выровнена слева */
    margin-right: 20px; /* Для создания отступа между кнопкой и заголовком */
}

#homeButton:hover {
    background-color: #0056b3;
}
